interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/adeyosemanputra/pygoat
  response:
    body:
      string: '{"id":265372074,"node_id":"MDEwOlJlcG9zaXRvcnkyNjUzNzIwNzQ=","name":"pygoat","full_name":"adeyosemanputra/pygoat","private":false,"owner":{"login":"adeyosemanputra","id":24958168,"node_id":"MDQ6VXNlcjI0OTU4MTY4","avatar_url":"https://avatars.githubusercontent.com/u/24958168?v=4","gravatar_id":"","url":"https://api.github.com/users/adeyosemanputra","html_url":"https://github.com/adeyosemanputra","followers_url":"https://api.github.com/users/adeyosemanputra/followers","following_url":"https://api.github.com/users/adeyosemanputra/following{/other_user}","gists_url":"https://api.github.com/users/adeyosemanputra/gists{/gist_id}","starred_url":"https://api.github.com/users/adeyosemanputra/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/adeyosemanputra/subscriptions","organizations_url":"https://api.github.com/users/adeyosemanputra/orgs","repos_url":"https://api.github.com/users/adeyosemanputra/repos","events_url":"https://api.github.com/users/adeyosemanputra/events{/privacy}","received_events_url":"https://api.github.com/users/adeyosemanputra/received_events","type":"User","site_admin":false},"html_url":"https://github.com/adeyosemanputra/pygoat","description":"intentionally
        vuln web Application Security in django","fork":false,"url":"https://api.github.com/repos/adeyosemanputra/pygoat","forks_url":"https://api.github.com/repos/adeyosemanputra/pygoat/forks","keys_url":"https://api.github.com/repos/adeyosemanputra/pygoat/keys{/key_id}","collaborators_url":"https://api.github.com/repos/adeyosemanputra/pygoat/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/adeyosemanputra/pygoat/teams","hooks_url":"https://api.github.com/repos/adeyosemanputra/pygoat/hooks","issue_events_url":"https://api.github.com/repos/adeyosemanputra/pygoat/issues/events{/number}","events_url":"https://api.github.com/repos/adeyosemanputra/pygoat/events","assignees_url":"https://api.github.com/repos/adeyosemanputra/pygoat/assignees{/user}","branches_url":"https://api.github.com/repos/adeyosemanputra/pygoat/branches{/branch}","tags_url":"https://api.github.com/repos/adeyosemanputra/pygoat/tags","blobs_url":"https://api.github.com/repos/adeyosemanputra/pygoat/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/adeyosemanputra/pygoat/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/adeyosemanputra/pygoat/git/refs{/sha}","trees_url":"https://api.github.com/repos/adeyosemanputra/pygoat/git/trees{/sha}","statuses_url":"https://api.github.com/repos/adeyosemanputra/pygoat/statuses/{sha}","languages_url":"https://api.github.com/repos/adeyosemanputra/pygoat/languages","stargazers_url":"https://api.github.com/repos/adeyosemanputra/pygoat/stargazers","contributors_url":"https://api.github.com/repos/adeyosemanputra/pygoat/contributors","subscribers_url":"https://api.github.com/repos/adeyosemanputra/pygoat/subscribers","subscription_url":"https://api.github.com/repos/adeyosemanputra/pygoat/subscription","commits_url":"https://api.github.com/repos/adeyosemanputra/pygoat/commits{/sha}","git_commits_url":"https://api.github.com/repos/adeyosemanputra/pygoat/git/commits{/sha}","comments_url":"https://api.github.com/repos/adeyosemanputra/pygoat/comments{/number}","issue_comment_url":"https://api.github.com/repos/adeyosemanputra/pygoat/issues/comments{/number}","contents_url":"https://api.github.com/repos/adeyosemanputra/pygoat/contents/{+path}","compare_url":"https://api.github.com/repos/adeyosemanputra/pygoat/compare/{base}...{head}","merges_url":"https://api.github.com/repos/adeyosemanputra/pygoat/merges","archive_url":"https://api.github.com/repos/adeyosemanputra/pygoat/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/adeyosemanputra/pygoat/downloads","issues_url":"https://api.github.com/repos/adeyosemanputra/pygoat/issues{/number}","pulls_url":"https://api.github.com/repos/adeyosemanputra/pygoat/pulls{/number}","milestones_url":"https://api.github.com/repos/adeyosemanputra/pygoat/milestones{/number}","notifications_url":"https://api.github.com/repos/adeyosemanputra/pygoat/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/adeyosemanputra/pygoat/labels{/name}","releases_url":"https://api.github.com/repos/adeyosemanputra/pygoat/releases{/id}","deployments_url":"https://api.github.com/repos/adeyosemanputra/pygoat/deployments","created_at":"2020-05-19T21:32:23Z","updated_at":"2024-09-11T10:40:20Z","pushed_at":"2024-08-29T16:10:10Z","git_url":"git://github.com/adeyosemanputra/pygoat.git","ssh_url":"git@github.com:adeyosemanputra/pygoat.git","clone_url":"https://github.com/adeyosemanputra/pygoat.git","svn_url":"https://github.com/adeyosemanputra/pygoat","homepage":"https://appsec.asia","size":18356,"stargazers_count":207,"watchers_count":207,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":735,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":13,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":735,"open_issues":13,"watchers":207,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true},"network_count":735,"subscribers_count":7}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a066cbfc3ce2687adefa97b747ec6ed7a449a32280737e1faf29394a002b0178"
      Last-Modified:
      - Wed, 11 Sep 2024 10:40:20 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4911'
      X-RateLimit-Reset:
      - '1726115364'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '89'
      github-authentication-token-expiration:
      - 2024-11-02 19:41:24 +0530
      x-accepted-github-permissions:
      - metadata=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/adeyosemanputra/pygoat/pulls/11
  response:
    body:
      string: '{"url":"https://api.github.com/repos/adeyosemanputra/pygoat/pulls/11","id":616092677,"node_id":"MDExOlB1bGxSZXF1ZXN0NjE2MDkyNjc3","html_url":"https://github.com/adeyosemanputra/pygoat/pull/11","diff_url":"https://github.com/adeyosemanputra/pygoat/pull/11.diff","patch_url":"https://github.com/adeyosemanputra/pygoat/pull/11.patch","issue_url":"https://api.github.com/repos/adeyosemanputra/pygoat/issues/11","number":11,"state":"closed","locked":false,"title":"SQL
        Lab Creation","user":{"login":"pwned-17","id":61360833,"node_id":"MDQ6VXNlcjYxMzYwODMz","avatar_url":"https://avatars.githubusercontent.com/u/61360833?v=4","gravatar_id":"","url":"https://api.github.com/users/pwned-17","html_url":"https://github.com/pwned-17","followers_url":"https://api.github.com/users/pwned-17/followers","following_url":"https://api.github.com/users/pwned-17/following{/other_user}","gists_url":"https://api.github.com/users/pwned-17/gists{/gist_id}","starred_url":"https://api.github.com/users/pwned-17/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pwned-17/subscriptions","organizations_url":"https://api.github.com/users/pwned-17/orgs","repos_url":"https://api.github.com/users/pwned-17/repos","events_url":"https://api.github.com/users/pwned-17/events{/privacy}","received_events_url":"https://api.github.com/users/pwned-17/received_events","type":"User","site_admin":false},"body":"Have
        completed a SQL Injection lab type 1, dummy information added, need to add
        valid information in description.","created_at":"2021-04-15T14:20:14Z","updated_at":"2021-04-15T20:36:07Z","closed_at":"2021-04-15T20:36:07Z","merged_at":"2021-04-15T20:36:07Z","merge_commit_sha":"b7c37d84d783aa77bb82a4a8a25cc2229b9fb6a0","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/adeyosemanputra/pygoat/pulls/11/commits","review_comments_url":"https://api.github.com/repos/adeyosemanputra/pygoat/pulls/11/comments","review_comment_url":"https://api.github.com/repos/adeyosemanputra/pygoat/pulls/comments{/number}","comments_url":"https://api.github.com/repos/adeyosemanputra/pygoat/issues/11/comments","statuses_url":"https://api.github.com/repos/adeyosemanputra/pygoat/statuses/3e140c898082fbbbf2869b104d700952b108d727","head":{"label":"pwned-17:master","ref":"master","sha":"3e140c898082fbbbf2869b104d700952b108d727","user":{"login":"pwned-17","id":61360833,"node_id":"MDQ6VXNlcjYxMzYwODMz","avatar_url":"https://avatars.githubusercontent.com/u/61360833?v=4","gravatar_id":"","url":"https://api.github.com/users/pwned-17","html_url":"https://github.com/pwned-17","followers_url":"https://api.github.com/users/pwned-17/followers","following_url":"https://api.github.com/users/pwned-17/following{/other_user}","gists_url":"https://api.github.com/users/pwned-17/gists{/gist_id}","starred_url":"https://api.github.com/users/pwned-17/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pwned-17/subscriptions","organizations_url":"https://api.github.com/users/pwned-17/orgs","repos_url":"https://api.github.com/users/pwned-17/repos","events_url":"https://api.github.com/users/pwned-17/events{/privacy}","received_events_url":"https://api.github.com/users/pwned-17/received_events","type":"User","site_admin":false},"repo":{"id":357424633,"node_id":"MDEwOlJlcG9zaXRvcnkzNTc0MjQ2MzM=","name":"pygoat","full_name":"pwned-17/pygoat","private":false,"owner":{"login":"pwned-17","id":61360833,"node_id":"MDQ6VXNlcjYxMzYwODMz","avatar_url":"https://avatars.githubusercontent.com/u/61360833?v=4","gravatar_id":"","url":"https://api.github.com/users/pwned-17","html_url":"https://github.com/pwned-17","followers_url":"https://api.github.com/users/pwned-17/followers","following_url":"https://api.github.com/users/pwned-17/following[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://github.com/adeyosemanputra/pygoat/pull/11.diff
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://patch-diff.githubusercontent.com/raw/adeyosemanputra/pygoat/pull/11.diff
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://patch-diff.githubusercontent.com/raw/adeyosemanputra/pygoat/pull/11.diff
  response:
    body:
      string: "diff --git a/pygoat/db.sqlite3 b/pygoat/db.sqlite3\nindex 39d264d33..771c70cc7
        100644\nBinary files a/pygoat/db.sqlite3 and b/pygoat/db.sqlite3 differ\ndiff
        --git a/pygoat/introduction/admin.py b/pygoat/introduction/admin.py\nindex
        3ca6dfb5d..00f3cac75 100644\n--- a/pygoat/introduction/admin.p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/adeyosemanputra/pygoat/pulls/11/files
  response:
    body:
      string: "[{\"sha\":\"771c70cc74ff3d0500fafab2fcd1960bec3ed23e\",\"filename\":\"pygoat/db.sqlite3\",\"status\":\"modified\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/adeyosemanputra/pygoat/blob/3e140c898082fbbbf2869b104d700952b108d727/pygoat%2Fdb.sqlite3\",\"raw_url\":\"https://github.com/adeyosemanputra/pygoat/raw/3e140c898082fbbbf2869b104d700952b108d727/pygoat%2Fdb.sqlite3\",\"contents_url\":\"https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat%2Fdb.sqlite3?ref=3e140c898082fbbbf2869b104d700952b108d727\"},{\"sha\":\"00f3cac75d0e50f3fca4be96193061487206f73e\",\"filename\":\"pygoat/introduction/admin.py\",\"status\":\"modified\",\"additions\":3,\"deletions\":2,\"changes\":5,\"blob_url\":\"https://github.com/adeyosemanputra/pygoat/blob/3e140c898082fbbbf2869b104d700952b108d727/pygoat%2Fintroduction%2Fadmin.py\",\"raw_url\":\"https://github.com/adeyosemanputra/pygoat/raw/3e140c898082fbbbf2869b104d700952b108d727/pygoat%2Fintroduction%2Fadmin.py\",\"contents_url\":\"https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat%2Fintroduction%2Fadmin.py?ref=3e140c898082fbbbf2869b104d700952b108d727\",\"patch\":\"@@
        -1,6 +1,7 @@\\n from django.contrib import admin\\n-from .models import FAANG,info\\n+from
        .models import FAANG,info,login\\n \\n # Register your models here.\\n admin.site.register(FAANG)\\n-admin.site.register(info)\\n\\\\
        No newline at end of file\\n+admin.site.register(info)\\n+admin.site.register(login)\"},{\"sha\":\"2105619fbe9048ad2ffd9012f4bff5b156771508\",\"filename\":\"pygoat/introduction/models.py\",\"status\":\"modified\",\"additions\":4,\"deletions\":1,\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat/introduction/admin.py?ref=3e140c898082fbbbf2869b104d700952b108d727
  response:
    body:
      string: '{"name":"admin.py","path":"pygoat/introduction/admin.py","sha":"00f3cac75d0e50f3fca4be96193061487206f73e","size":180,"url":"https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat/introduction/admin.py?ref=3e140c898082fbbbf2869b104d700952b108d727","html_url":"https://github.com/adeyosemanputra/pygoat/blob/3e140c898082fbbbf2869b104d700952b108d727/pygoat/introduction/admin.py","git_url":"https://api.github.com/repos/adeyosemanputra/pygoat/git/blobs/00f3cac75d0e50f3fca4be96193061487206f73e","download_url":"https://raw.githubusercontent.com/adeyosemanputra/pygoat/3e140c898082fbbbf2869b104d700952b108d727/pygoat/introduction/admin.py","type":"file","content":"ZnJvbSBkamFuZ28uY29udHJpYiBpbXBvcnQgYWRtaW4KZnJvbSAubW9kZWxz\nIGltcG9ydCBGQUFORyxpbmZvLGxvZ2luCgojIFJlZ2lzdGVyIHlvdXIgbW9k\nZWxzIGhlcmUuCmFkbWluLnNpdGUucmVnaXN0ZXIoRkFBTkcpCmFkbWluLnNp\ndGUucmVnaXN0ZXIoaW5mbykKYWRtaW4uc2l0ZS5yZWdpc3Rlcihsb2dpbikK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat/introduction/admin.py?ref=3e140c898082fbbbf2869b104d700952b108d727","git":"https://api.github.com/repos/adeyosemanputra/pygoat/git/blobs/00f3cac75d0e50f3fca4be96193061487206f73e","html":"https://github.com/adeyosemanputra/pygoat/blob/3e140c898082fbbbf2869b104d700952b108d727/pygoat/introduction/admin.py"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"00f3cac75d0e50f3fca4be96193061487206f73e"
      Last-Modified:
      - Thu, 15 Apr 2021 14:03:40 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4908'
      X-RateLimit-Reset:
      - '1726115364'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '92'
      github-authentication-token-expiration:
      - 2024-11-02 19:41:24 +0530
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat/introduction/models.py?ref=3e140c898082fbbbf2869b104d700952b108d727
  response:
    body:
      string: '{"name":"models.py","path":"pygoat/introduction/models.py","sha":"2105619fbe9048ad2ffd9012f4bff5b156771508","size":476,"url":"https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat/introduction/models.py?ref=3e140c898082fbbbf2869b104d700952b108d727",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat/introduction/static/Lab/xss.js?ref=3e140c898082fbbbf2869b104d700952b108d727
  response:
    body:
      string: '{"name":"xss.js","path":"pygoat/introduction/static/Lab/xss.js","sha":"521e76ad7365b627b3344696a5d54c713927fe51","size":427,"url":"https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat/introduction/static/Lab/xss.js?ref=3e140c898082fbbbf2869[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat/introduction/urls.py?ref=3e140c898082fbbbf2869b104d700952b108d727
  response:
    body:
      string: '{"name":"urls.py","path":"pygoat/introduction/urls.py","sha":"8e0039aefae0e6626634c64eafbba6d91fd1bd96","size":383,"url":"https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat/introduction/urls.py?ref=3e140c898082fbbbf2869b104d700952b108d727","html_ur[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat/introduction/views.py?ref=3e140c898082fbbbf2869b104d700952b108d727
  response:
    body:
      string: '{"name":"views.py","path":"pygoat/introduction/views.py","sha":"bd795ad67986f113cb2d4f07550620d367233000","size":1341,"url":"https://api.github.com/repos/adeyosemanputra/pygoat/contents/pygoat/introduction/views.py?ref=3e140c898082fbbbf2869b104d700952b108d727","ht[...]
