interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop
  response:
    body:
      string: '{"id":24233689,"node_id":"MDEwOlJlcG9zaXRvcnkyNDIzMzY4OQ==","name":"juice-shop","full_name":"juice-shop/juice-shop","private":false,"owner":{"login":"juice-shop","id":83415759,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgzNDE1NzU5","avatar_url":"https://avatars.githubusercontent.com/u/83415759?v=4","gravatar_id":"","url":"https://api.github.com/users/juice-shop","html_url":"https://github.com/juice-shop","followers_url":"https://api.github.com/users/juice-shop/followers","following_url":"https://api.github.com/users/juice-shop/following{/other_user}","gists_url":"https://api.github.com/users/juice-shop/gists{/gist_id}","starred_url":"https://api.github.com/users/juice-shop/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/juice-shop/subscriptions","organizations_url":"https://api.github.com/users/juice-shop/orgs","repos_url":"https://api.github.com/users/juice-shop/repos","events_url":"https://api.github.com/users/juice-shop/events{/privacy}","received_events_url":"https://api.github.com/users/juice-shop/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/juice-shop/juice-shop","description":"OWASP
        Juice Shop: Probably the most modern and sophisticated insecure web application","fork":false,"url":"https://api.github.com/repos/juice-shop/juice-shop","forks_url":"https://api.github.com/repos/juice-shop/juice-shop/forks","keys_url":"https://api.github.com/repos/juice-shop/juice-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/juice-shop/juice-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/juice-shop/juice-shop/teams","hooks_url":"https://api.github.com/repos/juice-shop/juice-shop/hooks","issue_events_url":"https://api.github.com/repos/juice-shop/juice-shop/issues/events{/number}","events_url":"https://api.github.com/repos/juice-shop/juice-shop/events","assignees_url":"https://api.github.com/repos/juice-shop/juice-shop/assignees{/user}","branches_url":"https://api.github.com/repos/juice-shop/juice-shop/branches{/branch}","tags_url":"https://api.github.com/repos/juice-shop/juice-shop/tags","blobs_url":"https://api.github.com/repos/juice-shop/juice-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/juice-shop/juice-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/juice-shop/juice-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/juice-shop/juice-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/juice-shop/juice-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/juice-shop/juice-shop/languages","stargazers_url":"https://api.github.com/repos/juice-shop/juice-shop/stargazers","contributors_url":"https://api.github.com/repos/juice-shop/juice-shop/contributors","subscribers_url":"https://api.github.com/repos/juice-shop/juice-shop/subscribers","subscription_url":"https://api.github.com/repos/juice-shop/juice-shop/subscription","commits_url":"https://api.github.com/repos/juice-shop/juice-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/juice-shop/juice-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/juice-shop/juice-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/juice-shop/juice-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/juice-shop/juice-shop/contents/{+path}","compare_url":"https://api.github.com/repos/juice-shop/juice-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/juice-shop/juice-shop/merges","archive_url":"https://api.github.com/repos/juice-shop/juice-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/juice-shop/juice-shop/downloads","issues_url":"https://api.github.com/repos/juice-shop/juice-shop/issues{/number}","pulls_url":"https://api.github.com/repos/juice-shop/juice-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/juice-shop/juice-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/juice-shop/juice-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/juice-shop/juice-shop/labels{/name}","releases_url":"https://api.github.com/repos/juice-shop/juice-shop/releases{/id}","deployments_url":"https://api.github.com/repos/juice-shop/juice-shop/deployments","created_at":"2014-09-19T14:53:06Z","updated_at":"2024-09-03T05:34:43Z","pushed_at":"2024-09-02T08:43:00Z","git_url":"git://github.com/juice-shop/juice-shop.git","ssh_url":"git@github.com:juice-shop/juice-shop.git","clone_url":"https://github.com/juice-shop/juice-shop.git","svn_url":"https://github.com/juice-shop/juice-shop","homepage":"https://owasp-juice.shop","size":239841,"stargazers_count":10047,"watchers_count":10047,"language":"TypeScript","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":true,"has_discussions":false,"forks_count":10259,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":9,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["24pullrequests","application-security","appsec","ctf","hacking","hacktoberfest","javascript","owasp","owasp-top-10","owasp-top-ten","pentesting","security","vulnapp","vulnerable"],"visibility":"public","forks":10259,"open_issues":9,"watchers":10047,"default_branch":"master","temp_clone_token":null,"custom_properties":{},"organization":{"login":"juice-shop","id":83415759,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgzNDE1NzU5","avatar_url":"https://avatars.githubusercontent.com/u/83415759?v=4","gravatar_id":"","url":"https://api.github.com/users/juice-shop","html_url":"https://github.com/juice-shop","followers_url":"https://api.github.com/users/juice-shop/followers","following_url":"https://api.github.com/users/juice-shop/following{/other_user}","gists_url":"https://api.github.com/users/juice-shop/gists{/gist_id}","starred_url":"https://api.github.com/users/juice-shop/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/juice-shop/subscriptions","organizations_url":"https://api.github.com/users/juice-shop/orgs","repos_url":"https://api.github.com/users/juice-shop/repos","events_url":"https://api.github.com/users/juice-shop/events{/privacy}","received_events_url":"https://api.github.com/users/juice-shop/received_events","type":"Organization","site_admin":false},"network_count":10259,"subscribers_count":162}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d23db1fee52dfff85965f2a0e5c61492d397747c4ed4a46419d26a7a384800ad"
      Last-Modified:
      - Tue, 03 Sep 2024 05:34:43 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '54'
      X-RateLimit-Reset:
      - '1725365304'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '6'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/pulls/35
  response:
    body:
      string: '{"url":"https://api.github.com/repos/juice-shop/juice-shop/pulls/35","id":23053912,"node_id":"MDExOlB1bGxSZXF1ZXN0MjMwNTM5MTI=","html_url":"https://github.com/juice-shop/juice-shop/pull/35","diff_url":"https://github.com/juice-shop/juice-shop/pull/35.diff","patch_url":"https://github.com/juice-shop/juice-shop/pull/35.patch","issue_url":"https://api.github.com/repos/juice-shop/juice-shop/issues/35","number":35,"state":"closed","locked":true,"title":"minor
        improvements and more tests","user":{"login":"bkimminich","id":3531020,"node_id":"MDQ6VXNlcjM1MzEwMjA=","avatar_url":"https://avatars.githubusercontent.com/u/3531020?v=4","gravatar_id":"","url":"https://api.github.com/users/bkimminich","html_url":"https://github.com/bkimminich","followers_url":"https://api.github.com/users/bkimminich/followers","following_url":"https://api.github.com/users/bkimminich/following{/other_user}","gists_url":"https://api.github.com/users/bkimminich/gists{/gist_id}","starred_url":"https://api.github.com/users/bkimminich/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bkimminich/subscriptions","organizations_url":"https://api.github.com/users/bkimminich/orgs","repos_url":"https://api.github.com/users/bkimminich/repos","events_url":"https://api.github.com/users/bkimminich/events{/privacy}","received_events_url":"https://api.github.com/users/bkimminich/received_events","type":"User","site_admin":false},"body":"-
        client side tests added (except BasketController)\n- fixed issue with user<->feedback
        association when saving new feedback\n- handle email properly for challenges\n-
        badges fixed up\n- app version shows in navbar\n- ...\n","created_at":"2014-10-20T23:54:21Z","updated_at":"2019-11-05T02:04:53Z","closed_at":"2014-10-20T23:56:09Z","merged_at":"2014-10-20T23:56:09Z","merge_commit_sha":"08274be0e1d56792b7221b3a3f343ce48ea08fab","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/juice-shop/juice-shop/pulls/35/commits","review_comments_url":"https://api.github.com/repos/juice-shop/juice-shop/pulls/35/comments","review_comment_url":"https://api.github.com/repos/juice-shop/juice-shop/pulls/comments{/number}","comments_url":"https://api.github.com/repos/juice-shop/juice-shop/issues/35/comments","statuses_url":"https://api.github.com/repos/juice-shop/juice-shop/statuses/c17a2afaeafc194fc33ec4fcfb3395aa88440204","head":{"label":"juice-shop:develop","ref":"develop","sha":"c17a2afaeafc194fc33ec4fcfb3395aa88440204","user":{"login":"juice-shop","id":83415759,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgzNDE1NzU5","avatar_url":"https://avatars.githubusercontent.com/u/83415759?v=4","gravatar_id":"","url":"https://api.github.com/users/juice-shop","html_url":"https://github.com/juice-shop","followers_url":"https://api.github.com/users/juice-shop/followers","following_url":"https://api.github.com/users/juice-shop/following{/other_user}","gists_url":"https://api.github.com/users/juice-shop/gists{/gist_id}","starred_url":"https://api.github.com/users/juice-shop/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/juice-shop/subscriptions","organizations_url":"https://api.github.com/users/juice-shop/orgs","repos_url":"https://api.github.com/users/juice-shop/repos","events_url":"https://api.github.com/users/juice-shop/events{/privacy}","received_events_url":"https://api.github.com/users/juice-shop/received_events","type":"Organization","site_admin":false},"repo":{"id":24233689,"node_id":"MDEwOlJlcG9zaXRvcnkyNDIzMzY4OQ==","name":"juice-shop","full_name":"juice-shop/juice-shop","private":false,"owner":{"login":"juice-shop","id":83415759,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgzNDE1NzU5","avatar_url":"https://avatars.githubusercontent.com/u/83415759?v=4","gravatar_id":"","url":"https://api.github.com/users/juice-shop","html_url":"https://github.com/juice-shop","followers_url":"https://api.github.com/users/juice-shop/followers","following_url":"https://api.github[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/pulls/35/files
  response:
    body:
      string: '[{"sha":"31d60d1d6c421d3b7efe2fa89787f19da80c6500","filename":"README.md","status":"modified","additions":2,"deletions":3,"changes":5,"blob_url":"https://github.com/juice-shop/juice-shop/blob/c17a2afaeafc194fc33ec4fcfb3395aa88440204/README.md","raw_url":"https://github.com/juice-shop/juice-shop/raw/c17a2afaeafc194fc33ec4fcfb3395aa88440204/README.md","contents_url":"https://api.github.com/repos/juice-shop/juice-shop/contents/README.md?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204","patch":"@@
        -1,5 +1,4 @@\n # Juice Shop\n-[![Nodejitsu Deploy Status](https://webhooks.nodejitsu.com/bkimminich/juice-shop.png)](https://webops.nodejitsu.com#bkimminich/juice-shop)\n
        \n An intentionally insecure RIA suitable for pentesting and security awareness
        trainings written in Node, Express and Angular. Inspired by the \"classic\"
        [BodgeIt Store](https://code.google.com/p/bodgeit/) by [@psiinon](https://github.com/psiinon).\n
        \n@@ -45,7 +44,7 @@ You may find[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/controllers/ContactController.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"ContactController.js","path":"app/js/controllers/ContactController.js","sha":"c5d2c0ea968fb4ae781bb208eefbb515ece0957c","size":717,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/controllers/ContactController.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204","html_url":"https://github.com/juice-shop/juice-shop/blob/c17a2afaeafc194fc33ec4fcfb3395aa88440204/app/js/controllers/ContactController.js","git_url":"https://api.github.com/repos/juice-shop/juice-shop/git/blobs/c5d2c0ea968fb4ae781bb208eefbb515ece0957c","download_url":"https://raw.githubusercontent.com/juice-shop/juice-shop/c17a2afaeafc194fc33ec4fcfb3395aa88440204/app/js/controllers/ContactController.js","type":"file","content":"YW5ndWxhci5tb2R1bGUoJ215QXBwJykuY29udHJvbGxlcignQ29udGFjdENv\nbnRyb2xsZXInLCBbCiAgICAnJHNjb3BlJywKICAgICdGZWVkYmFja1NlcnZp\nY2UnLAogICAgJ1VzZXJTZXJ2aWNlJywKICAgIGZ1bmN0aW9uICgkc2NvcGUs\nIGZlZWRiYWNrU2VydmljZSwgdXNlclNlcnZpY2UpIHsKICAgICAgICAndXNl\nIHN0cmljdCc7CgogICAgICAgIHVzZXJTZXJ2aWNlLndob0FtSSgpLnN1Y2Nl\nc3MoZnVuY3Rpb24oZGF0YSkgewogICAgICAgICAgICAkc2NvcGUuZmVlZGJh\nY2sgPSB7fTsKICAgICAgICAgICAgJHNjb3BlLmZlZWRiYWNrLlVzZXJJZCA9\nIGRhdGEuaWQ7CiAgICAgICAgfSk7CgogICAgICAgICRzY29wZS5zYXZlID0g\nZnVuY3Rpb24gKCkgewogICAgICAgICAgICBmZWVkYmFja1NlcnZpY2Uuc2F2\nZSgkc2NvcGUuZmVlZGJhY2spLnN1Y2Nlc3MoZnVuY3Rpb24gKHNhdmVkRmVl\nZGJhY2spIHsKICAgICAgICAgICAgICAgICRzY29wZS5jb25maXJtYXRpb24g\nPSAnVGhhbmsgeW91IGZvciB5b3VyIGZlZWRiYWNrJyArIChzYXZlZEZlZWRi\nYWNrLmRhdGEucmF0aW5nID09PSA1ID8gJyBhbmQgeW91ciA1LXN0YXIgcmF0\naW5nIScgOiAnLicpOwogICAgICAgICAgICAgICAgJHNjb3BlLmZlZWRiYWNr\nID0ge307CiAgICAgICAgICAgICAgICAkc2NvcGUuZm9ybS4kc2V0UHJpc3Rp\nbmUoKTsKICAgICAgICAgICAgfSk7CiAgICAgICAgfTsKCiAgICB9XSk7\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/controllers/ContactController.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204","git":"https://api.github.com/repos/juice-shop/juice-shop/git/blobs/c5d2c0ea968fb4ae781bb208eefbb515ece0957c","html":"https://github.com/juice-shop/juice-shop/blob/c17a2afaeafc194fc33ec4fcfb3395aa88440204/app/js/controllers/ContactController.js"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5d2c0ea968fb4ae781bb208eefbb515ece0957c"
      Last-Modified:
      - Mon, 20 Oct 2014 23:50:28 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '51'
      X-RateLimit-Reset:
      - '1725365304'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '9'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/controllers/NavbarController.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"NavbarController.js","path":"app/js/controllers/NavbarController.js","sha":"b24cdf86f7fea0afa618a2c8a067f6e0f570dc0d","size":470,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/controllers/NavbarController.js?ref=c17a2af[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/controllers/SearchResultController.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"SearchResultController.js","path":"app/js/controllers/SearchResultController.js","sha":"051488f038a827a9d15b8d127e1a1ca7ea033541","size":3277,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/controllers/SearchResult[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/controllers/UserController.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"UserController.js","path":"app/js/controllers/UserController.js","sha":"ceca2b098e22913544ddd5a90c641f1293f98f40","size":981,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/controllers/UserController.js?ref=c17a2afaeafc194[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/services/AdministrationService.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"AdministrationService.js","path":"app/js/services/AdministrationService.js","sha":"f9b6aa5b9f13ef67a94bd79964b146e8ad8f114a","size":317,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/services/AdministrationService.js?[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/services/UserService.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"UserService.js","path":"app/js/services/UserService.js","sha":"2feab669422770e88341cd2f45d2d38bcd61abbd","size":944,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/app/js/services/UserService.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa8844[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/lib/utils.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"utils.js","path":"lib/utils.js","sha":"302fb5735331b0df182770155739adb32954c216","size":1285,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/lib/utils.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204","html_url":"https://github.com/juice-shop/juice-shop/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/server.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"server.js","path":"server.js","sha":"e13c374344f225626fb9154bd58e68322a0e3f16","size":30114,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/server.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204","html_url":"https://github.com/juice-shop/juice-shop/blob/c1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/aboutControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"aboutControllerSpec.js","path":"test/client/aboutControllerSpec.js","sha":"8bf5004065236d3ad1941e5f95e2189fe85af486","size":503,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/aboutControllerSpec.js?ref=c17a2afaeafc194f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/administrationControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"administrationControllerSpec.js","path":"test/client/administrationControllerSpec.js","sha":"79828710c8f54a4ae9eb0a697585bc118b850b4d","size":522,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/administrationCo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/basketControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"basketControllerSpec.js","path":"test/client/basketControllerSpec.js","sha":"164eb5fc9e9a4c1f49e5189be118e25783e07138","size":843,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/basketControllerSpec.js?ref=c17a2afaeafc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/challengeControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"challengeControllerSpec.js","path":"test/client/challengeControllerSpec.js","sha":"ca8a4c66fe7ccabb3af5f3642ef55a185b18b6e8","size":2041,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/challengeControllerSpec.js?ref[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/changepasswordControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"changepasswordControllerSpec.js","path":"test/client/changepasswordControllerSpec.js","sha":"359288cf7496d32e5b8cfab01aec854d08f6fdd5","size":1722,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/changepasswordC[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/contactControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"contactControllerSpec.js","path":"test/client/contactControllerSpec.js","sha":"a8d01dd59629b9284cefdf7404ae1e51842f7645","size":2801,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/contactControllerSpec.js?ref=c17a2af[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/controllersSpec.js?ref=3f3efa28a1993438345d12e37660e10c0fd4f269
  response:
    body:
      string: '{"name":"controllersSpec.js","path":"test/client/controllersSpec.js","sha":"b625ba23750036cc65baa91af171160ce59283d3","size":11049,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/controllersSpec.js?ref=3f3efa28a1993438345d12e37660e1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/feedbackControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"feedbackControllerSpec.js","path":"test/client/feedbackControllerSpec.js","sha":"86105e4e734fed3ca03967b42d59856efafb60a7","size":3006,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/feedbackControllerSpec.js?ref=c17[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/loginControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"loginControllerSpec.js","path":"test/client/loginControllerSpec.js","sha":"d8771612ca4ab5fa6ac672a27c048079fe6e0788","size":2556,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/loginControllerSpec.js?ref=c17a2afaeafc194[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/logoutControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"logoutControllerSpec.js","path":"test/client/logoutControllerSpec.js","sha":"e5209a25188c9b3a921c89e5a926faae51172855","size":1149,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/logoutControllerSpec.js?ref=c17a2afaeaf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/navbarControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"navbarControllerSpec.js","path":"test/client/navbarControllerSpec.js","sha":"de62a60440019e9fdaee82cdf1888363f71f7892","size":1467,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/navbarControllerSpec.js?ref=c17a2afaeaf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/productdetailsControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"productdetailsControllerSpec.js","path":"test/client/productdetailsControllerSpec.js","sha":"b52a89ba85de1dd72420e5c08e68e01a69426d80","size":1714,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/productdetailsC[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/registerControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"registerControllerSpec.js","path":"test/client/registerControllerSpec.js","sha":"59a5d8335f0b80de10b041fe95424b41b82c2758","size":1095,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/registerControllerSpec.js?ref=c17[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/searchControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"searchControllerSpec.js","path":"test/client/searchControllerSpec.js","sha":"8141856c87eb9bf2ae83f0d410ead890048f3766","size":1249,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/searchControllerSpec.js?ref=c17a2afaeaf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/searchresultControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"searchresultControllerSpec.js","path":"test/client/searchresultControllerSpec.js","sha":"4507ae54457904235a5f5c690aa503b9e00b884a","size":7838,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/searchresultControlle[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/servicesSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"servicesSpec.js","path":"test/client/servicesSpec.js","sha":"a15518eaebd8a1a5cc46f5ba53fc4a9424ef7348","size":9234,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/servicesSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repositories/24233689/pulls/35/files?page=2
  response:
    body:
      string: '[{"sha":"1d7007c59bd47797e7d1891641974588b61cac84","filename":"test/client/userControllerSpec.js","status":"added","additions":69,"deletions":0,"changes":69,"blob_url":"https://github.com/juice-shop/juice-shop/blob/c17a2afaeafc194fc33ec4fcfb3395aa88440204/test%2Fclient%2FuserControllerSpec.js","raw_url":"https://github.com/juice-s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/userControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"userControllerSpec.js","path":"test/client/userControllerSpec.js","sha":"1d7007c59bd47797e7d1891641974588b61cac84","size":2392,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/userControllerSpec.js?ref=c17a2afaeafc194fc33[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/userdetailsControllerSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"userdetailsControllerSpec.js","path":"test/client/userdetailsControllerSpec.js","sha":"a70c5be195e8c0938a816d008851d5e97582ee8d","size":1260,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/client/userdetailsControllerSpe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/server/administrationApiSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"administrationApiSpec.js","path":"test/server/administrationApiSpec.js","sha":"530fa56eb4bb69b94319b272166b6ff2c29bfbf7","size":359,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/server/administrationApiSpec.js?ref=c17a2afa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/juice-shop/juice-shop/contents/test/server/feedbackApiSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395aa88440204
  response:
    body:
      string: '{"name":"feedbackApiSpec.js","path":"test/server/feedbackApiSpec.js","sha":"3a14ef541efc55b69859c0cced29f84f303e9ae7","size":4371,"url":"https://api.github.com/repos/juice-shop/juice-shop/contents/test/server/feedbackApiSpec.js?ref=c17a2afaeafc194fc33ec4fcfb3395a[...]
- request:
    body: null
    headers:
    method: GET
[...]
